@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #3d4152;
}

.navigation {
    position: fixed;
    inset: 20px 0 20px 20px;
    width: 75px;
    background: #fff;
}

.navigation .menuToggle {
    position: absolute;
    top: 0;left: 0;
}